<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/sketch.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>2030 Final Project</title>
  </head>

  <body>
    <div class="container">
      <!--Top bar-->
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="img/question.png" alt="Brand" width="90" />
              <code class="h3">Final Project<sup>2030</sup></code>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link btn btn-info text-white"
                    aria-current="page"
                    href="index.html"
                    ><span class="h5">Home</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-info text-white" href="about.html"
                    ><span class="h5">About</span></a
                  >
                </li>
              </ul>
            </div>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-info text-white" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
      </header>
      <hr />
      <h1 class="display-3 text-center"><code>Page NOT found</code></h1>
      <hr />
      <footer>
        <div class="card text-center bg-primary text-light h2">
          &copy;2025. Noah J., Tanzim R., Gilard V., Trevor W. All rights
          reserved
        </div>
      </footer>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
  </body>
</html>
