<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/sketch.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Notes.js</title>
  </head>

  <body>
    <div class="container">
      <!--Top bar-->
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="img/favicon.ico" alt="Brand" width="50" />
              <code class="h3">Notes.js</code>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link btn btn-info text-white"
                    aria-current="page"
                    href="index.html"
                    ><span class="h5">Home</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-info text-white" href="about.html"
                    ><span class="h5">About</span></a
                  >
                </li>
              </ul>
            </div>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-info text-white" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
      </header>
      <hr />
      <h1 class="display-3 text-center"><code>Page NOT found</code></h1>
      <hr />
      <footer>
        <div class="card text-center bg-primary text-light h2">
          &copy;2025. Noah J., Tanzim R., Gilard V., Trevor W. All rights
          reserved
        </div>
      </footer>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
      integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/partials.js"></script>
  </body>
</html>
