<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/sketch.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Notes.js</title>
  </head>

  <body>
    <div class="container">
      <!--Top bar-->
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="img/favicon.ico" alt="Brand" width="50" />
              <code class="h3">Notes.js</code>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link btn btn-info text-white"
                    aria-current="page"
                    href="index.html"
                    ><span class="h5">Home</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-info text-white" href="about.html"
                    ><span class="h5">About</span></a
                  >
                </li>
              </ul>
            </div>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-info text-white" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
      </header>
      <hr />

      <!--Content-->
      <div class="row">
        <div class="col-9">
          <div class="card text-center bg-warning h6">Welcome Banner</div>
          <div class="card">
            <div class="card-header text-center h5">
              CPSC<sup>2030</sup> Final Project
            </div>
            <div class="card-body">
              This website offers users a convenient and minimalist way to keep
              track of tasks, write reminders, or communicate task lists with
              other users.
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-header bg-info h6">
              Username or Request to Log-in Here
            </div>
            <div class="card-body">
              Currently set up for a SPA-like interface. divs for login form and
              account details are separated. Login will show by default upon js
              implementation.
              <hr />
              <div id="login">
                <form id="loginForm">
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input
                      type="text"
                      id="username"
                      class="form-control"
                      placeholder="Enter your username"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="Enter your password"
                      required
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Log In</button>
                </form>
              </div>
              <div id="account">
                Account details goes Here <br />(also buttons for adding cards
                etc) <br /><br />
                <button type="button" class="btn btn-primary btn-sm">
                  New Note
                </button>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                id="sign-up-btn"
                class="btn btn-success btn-sm"
              >
                Sign Up</button
              ><button
                type="button"
                id="log-out-btn"
                class="btn btn-danger btn-sm"
              >
                Log Out
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <footer>
        <div class="card text-center bg-primary text-light h2">
          &copy;2025. Noah J., Tanzim R., Gilard V., Trevor W. All rights
          reserved
        </div>
      </footer>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
    integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
