<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sketch.css">
    <title>2030 Final Project</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/question.png" alt="Brand" width="90">
                        <code class="h3">Final Project<sup>2030</sup></code>
                    </a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info text-white" type="submit">Search</button>
                    </form>
                </div>
        </header>
        <hr>
        <div class="row">
            <div class="col-9">
                <div class="card text-center bg-warning h6 mb-0">Welcome Banner</div>
                <div class="row">
                    <div class="d-flex-column col justify-content-center" id="left-col">
                        <div class="card noteCard mt-2">
                            <div class="card-header">Test Card 1</div>
                            <div class="card-body">
                                Currently placeholders, in final version cards won't display before user logs in.
                                <hr>
                                <span class="coords">Location will show here if added by user</span>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-primary">Edit</button>
                                    <button type="button" class="btn btn-outline-success">Share</button>
                                    <button type="button" class="btn btn-outline-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex-column col justify-content-center" id="right-col">
                        <div class="card noteCard mt-2">
                            <div class="card-header">Test Card 2</div>
                            <div class="card-body">
                                Currently placeholders, in final version cards won't display before user logs in.
                                <hr>
                                <span class="coords">Location will show here if added by user</span>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-primary">Edit</button>
                                    <button type="button" class="btn btn-outline-success">Share</button>
                                    <button type="button" class="btn btn-outline-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header bg-info h6">Username or Request to Log-in Here</div>
                    <div class="card-body">
                        Currently set up for a SPA-like interface. divs for login form and account details are
                        separated. Login will show by default upon js implementation.
                        <hr>
                        <div id="login">
                            <form id="loginForm">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" id="username" class="form-control"
                                        placeholder="Enter your username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" id="password" class="form-control"
                                        placeholder="Enter your password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Log In</button>
                            </form>
                        </div>
                        <div id="account">
                            Account details goes Here <br>(also buttons for adding cards etc) <br><br>
                            <button type="button" class="btn btn-primary btn-sm">New Note</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="sign-up-btn" class="btn btn-success btn-sm">Sign Up</button><button type="button" id="log-out-btn" class="btn btn-danger btn-sm">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <div class="card text-center bg-primary text-light h2">&copy;2025. Noah J., Tanzim R., Gilard V., Trevor W.
            </div>
        </footer>
    </div>
</body>
<script src="js/cardFunctions.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/login.js"></script>

</html>
