* {
    padding: 0;
    margin: 0;
    border: 0;
}

.responsiveBreak {
    color: white;
    display: none;
}

.noteCard {
    width: 48%;
}

@media only screen and (max-width: 800px) {

    .row {
        display: flex;
        flex-direction: column-reverse
    }

    .col-3 {
        width: 100%;
    }

    .col-9 {
        margin-top: 5%;
        width: 100%;
    }

    .responsiveBreak {
        color: white;
        display: block;
    }
    .noteCard {
        width: 100%;
        font-size: 0.90em;
    }

}